<!DOCTYPE html>
<html>
<head>
  <title>IamStudent</title>
</head>
<body>

<!-- <link rel="stylesheet" href="/stylesheets/style.css"/> -->
<script src="assets/jquery.min.js"></script>
<script src="assets/main.js.coffee"></script>
<script>
  $(document).ready(function () {
    window.initializeMain();
  });
</script>
</body>
</html>