<!DOCTYPE html>
<html>
<head>
  <title>IamStudent</title>
  <link rel="stylesheet" type="text/css" href="assets/index.css">
</head>
<body>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class"links">
        <li class="signin-active"><a class="btn">Sign in</a></li>
      </ul>
    </div>
    <div>
      <form class="form-signin" name="form">
        <label for="username">Username</label>
        <input class="form-styling" type="text" name="username" placeholder="" id="username" />
        <label for="password">Password</label>
        <input class="form-styling" type="text" name="password" placeholder="" id="password" />
        <input type="checkbox" id="checkbox"/>
        <label for="checkbox" ><span class="ui"></span>Keep me signed in</label>
        <div class="btn-animate">
          <a class="btn-signin" id="sign-me-in">Sign in</a>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="assets/jquery.min.js"></script>
<script src="assets/notify.min.js"></script>
<script src="assets/index.js.coffee"></script>
<script>
  $(document).ready(function () {
    window.initializeMain();
  });
</script>
</body>
</html>